@import "~styles/colors";
@import "~styles/layout";

button,
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 600;
  background: $button-background;
  color: $button-color;
  border-radius: $border-radius;
  border: 2px solid $button-background;
  cursor: pointer;
  position: relative;
  transition: background 50ms, border-color 0.4s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);

  &[disabled] {
    cursor: not-allowed;
    color: transparentize($button-color, 0.5);

    &::before,
    &::after {
      content: none;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    width: calc(100% + 4px);
    height: 100%;
    border-radius: $border-radius;
  }

  &::before {
    background: $yellow;
    border-radius: $border-radius;
    opacity: 0;
    z-index: -1;
    transform: scale3d(0.5, 1, 1);
    transition: transform 0.4s, opacity 0.4s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }

  &::after {
    background: $button-background;
    z-index: -2;
  }

  &:hover:not([disabled]) {
    background: transparent !important;
    border-color: $yellow !important;
    color: $button-color !important;

    &::before {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &:active,
  &:focus {
    outline: none;
    background: $yellow;
  }

  &.btn-dark {
    background: $dark-blue;
    border-color: $dark-blue;
    color: $text-color-base;
    font-weight: 400;

    &[disabled] {
      color: rgba(255, 255, 255, 0.3);
    }

    &::after {
      background: $dark-blue;
    }
  }

  &.btn-small {
    padding: 5px 10px;
    font-size: 85%;
  }

  &.btn-txt {
    all: unset;
    cursor: pointer;
    background: transparent;
    color: $text-color-base;
    border: none;
    font-weight: 400;

    &::before,
    &::after {
      content: none;
    }

    &:hover {
      color: $text-color-special;
    }
  }
}
