button,
.btn {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 14px 24px;
  font-family: var(--font-assistant);
  font-size: var(--font-size-medium);
  font-weight: 600;
  background: var(--button-background-primary);
  color: var(--button-color);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  position: relative;
  text-shadow: var(--button-text-shadow);
  box-shadow: var(--button-shadow);
  transform: translateY(0);
  transition: transform 150ms var(--ease-out-back), box-shadow 150ms var(--ease-out-back);

  &:hover {
    transform: translateY(-3px);
    box-shadow: var(--button-shadow-deep);

    &:focus,
    &:active {
      box-shadow: var(--button-shadow-deep), 0 0 8px var(--pink);
    }
  }

  &:focus,
  &:active {
    outline: none;
    border: 2px solid var(--orange);
    box-shadow: var(--button-shadow), 0 0 8px var(--pink);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: var(--border-radius);
    border: 1px solid var(--yellow);
  }

  svg {
    stroke: var(--button-color);
    width: 16px;
    height: 16px;
    filter: drop-shadow(var(--button-text-shadow));
    margin-left: var(--small-gap) / 2;

    path,
    polyline {
      stroke: var(--button-color);
    }
  }

  &[disabled] {
    cursor: not-allowed;
    color: var(--button-color) !important;
  }

  &.btn-dark {
    background: var(--button-background-secondary);
    border-color: var(--button-background-secondary);
    color: var(--button-color);
    box-shadow: none;
    text-shadow: none;
    transition: background 150ms var(--ease-out-back);

    &:hover {
      transform: translateY(0);
    }

    &:not([disabled]):hover {
      background: rgba(255, 255, 255, 0.4);
    }

    &::after {
      display: none;
    }

    &:focus,
    &:active {
      outline: none;
      border: 2px solid var(--orange);
      box-shadow: 0 0 8px var(--dark-blue);
    }

    svg {
      filter: none;
    }
  }

  &.btn-small {
    padding: 8px 14px;
    font-size: var(--font-size-small);
  }

  &.btn-txt {
    position: relative;
    all: unset;
    cursor: pointer;
    background: transparent;
    color: var(--text-color-base);
    border: none;
    font-weight: 400;

    &::after {
      display: none;
    }
  }
}
