$blue: rgba(9, 9, 225, 0.93);
$yellow: #ffda00;

$background-primary: $blue;

$text-color-base: white;
$text-color-invert: rgba(0, 0, 0, .8);
$text-color-special: $yellow;

$button-background: white;
$button-color: $blue;
