$blue: #40a6ee;
$dark-blue: #06069d;
$yellow: #fee872;
$orange: #fa742a;

$background-primary: $blue;
$background-secondary: white;

$text-color-base: white;
$text-color-invert: rgba(0, 0, 0, 0.8);
$text-color-special: $yellow;

$button-background: white;
$button-color: $blue;
