$fontPath: '/fonts/';
$fontAssistant: 'Assistant', Avenir, Helvetica, Arial, sans-serif;

@font-face {
  font-family: 'Assistant';
  src: url($fontPath + 'hinted-Assistant-Bold.eot');
  src:
    local('Assistant Bold'),
    local('Assistant-Bold'),
    url($fontPath + 'hinted-Assistant-Bold.eot?#iefix') format('embedded-opentype'),
    url($fontPath + 'hinted-Assistant-Bold.woff') format('woff'),
    url($fontPath + 'hinted-Assistant-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Assistant';
  src: url($fontPath + 'hinted-Assistant-SemiBold.eot');
  src:
    local('Assistant-SemiBold'),
    url($fontPath + 'hinted-Assistant-SemiBold.eot?#iefix') format('embedded-opentype'),
    url($fontPath + 'hinted-Assistant-SemiBold.woff') format('woff'),
    url($fontPath + 'hinted-Assistant-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Assistant';
  src: url($fontPath + 'hinted-Assistant-Regular.eot');
  src:
    local('Assistant-Regular'),
    url($fontPath + 'hinted-Assistant-Regular.eot?#iefix') format('embedded-opentype'),
    url($fontPath + 'hinted-Assistant-Regular.woff') format('woff'),
    url($fontPath + 'hinted-Assistant-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
