backend:
  name: git-gateway
  branch: master
  squash_merges: true
  accept_roles:
    - admin
    - editor
publish_mode: editorial_workflow
media_folder: static/img/uploads
public_folder: /img/uploads
collections:
  - name: euromat-theses
    label: '[Euromat] Theses'
    description: The theses selection pages for the EUROMAT.
    folder: src/app/euromat/content/theses
    format: json
    create: true
    slug: '{{fields.language}}'
    fields:
      - label: '[Meta] Language'
        name: language
        hint: Select the language for this page.
        widget: select
        options:
          - label: English
            value: en
          - label: Deutsch
            value: de
          - label: Français
            value: fr
          - label: Dansk
            value: dk
          - label: Slovenščina
            value: si
          - label: Čeština
            value: cz
      - label: '[Meta] Page URL'
        name: url
        widget: string
        hint: >-
          An optional, localised URL which will be used for this page (e.g.
          https://euromat.info/#/<PAGE_URL>)
        optional: true
      - label: '[Meta] Site Name'
        name: title
        widget: string
        hint: The name for the page that will appear in the browser tab.
      - label: Label for back button
        name: backBtn
        widget: string
      - label: Label for positive
        name: positive
        widget: string
      - label: Label for neutral
        name: neutral
        widget: string
      - label: Label for negative
        name: negative
        widget: string
      - label: Label for skipping thesis
        name: skipped
        widget: string
  - name: euromat-emphasis
    label: '[Euromat] Emphasis'
    description: The emphasis page which comes after the theses.
    folder: src/app/euromat/content/emphasis
    format: json
    create: true
    slug: '{{fields.language}}'
    fields:
      - label: '[Meta] Language'
        name: language
        hint: Select the language for this page.
        widget: select
        options:
          - label: English
            value: en
          - label: Deutsch
            value: de
          - label: Français
            value: fr
          - label: Dansk
            value: dk
          - label: Slovenščina
            value: si
          - label: Čeština
            value: cz
      - label: '[Meta] Page URL'
        name: url
        widget: string
        hint: >-
          An optional, localised URL which will be used for this page (e.g.
          https://euromat.info/#/<PAGE_URL>)
        optional: true
      - label: '[Meta] Site Name'
        name: title
        widget: string
        hint: The name for the page that will appear in the browser tab.
      - label: Headline
        name: headline
        widget: string
      - label: Description under headline
        name: content
        widget: string
      - label: Skip emphasis page
        name: skip
        widget: string
      - label: '[Label] Button to continue'
        name: button
        widget: string
  - name: euromat-results
    label: '[Euromat] Results'
    description: The EUROMAT result page.
    folder: src/app/euromat/content/results
    format: json
    create: true
    slug: '{{fields.language}}'
    fields:
      - label: '[Meta] Language'
        name: language
        hint: Select the language for this page.
        widget: select
        options:
          - label: English
            value: en
          - label: Deutsch
            value: de
          - label: Français
            value: fr
          - label: Dansk
            value: dk
          - label: Slovenščina
            value: si
          - label: Čeština
            value: cz
      - label: '[Meta] Page URL'
        name: url
        widget: string
        hint: >-
          An optional, localised URL which will be used for this page (e.g.
          https://euromat.info/#/<PAGE_URL>)
        optional: true
      - label: '[Meta] Site Name'
        name: title
        widget: string
        hint: The name for the page that will appear in the browser tab.
      - label: Headline for results
        name: headline
        widget: string
      - label: Description under headline
        name: entry
        widget: string
      - label: A short hint for users to know they can click the parties
        name: hint
        widget: string
      - label: Text before national party logo
        name: nationalParty
        widget: string
      - label: Final words
        name: thanks
        widget: string
      - label: '[Label] Button to start over'
        name: startoverBtn
        widget: string
      - label: '[Label] Button to go back to index'
        name: indexBtn
        widget: string
  - name: introduction
    label: '[Page] Introduction'
    description: The introduction page of Euromat.
    folder: src/app/intro/content
    format: json
    create: true
    slug: '{{fields.language}}'
    fields:
      - label: '[Meta] Language'
        name: language
        hint: Select the language for this page.
        widget: select
        options:
          - label: English
            value: en
          - label: Deutsch
            value: de
          - label: Français
            value: fr
          - label: Dansk
            value: dk
          - label: Slovenščina
            value: si
          - label: Čeština
            value: cz
      - label: '[Meta] Site Name'
        name: title
        widget: string
        hint: The name for the page that will appear in the browser tab.
      - label: Headline
        name: headline
        widget: string
      - label: Content
        name: content
        widget: markdown
      - label: '[Label] Button'
        name: button
        widget: string
  - name: party
    label: '[Page] Party'
    description: >-
      This is an informational page comparing the voters results with a
      political parties position.
    folder: src/app/party/content
    format: json
    create: true
    slug: '{{fields.language}}'
    fields:
      - label: '[Meta] Language'
        name: language
        hint: Select the language for this page.
        widget: select
        options:
          - label: English
            value: en
          - label: Deutsch
            value: de
          - label: Français
            value: fr
          - label: Dansk
            value: dk
          - label: Slovenščina
            value: si
          - label: Čeština
            value: cz
      - label: '[Meta] Page URL'
        name: url
        widget: string
        hint: >-
          An optional, localised URL which will be used for this page (e.g.
          https://euromat.info/#/<PAGE_URL>)
        optional: true
      - label: '[Meta] Site Name'
        name: title
        widget: string
        hint: The name for the page that will appear in the browser tab.
      - label: Subtitle
        name: subtitle
        widget: string
      - label: '[Label] Back button'
        name: backButtonLabel
        widget: string
      - label: '[Label] Legend'
        name: legendLabel
        widget: string
      - label: Answer
        name: partyAnswer
        widget: string
      - label: Table Heading
        name: tableHeading
        widget: string
      - label: Table User Description
        name: tableUser
        widget: string
  - name: about
    label: '[Page] About us'
    description: The about us page.
    folder: src/app/about/content
    format: json
    create: true
    slug: '{{fields.language}}'
    fields:
      - label: '[Meta] Language'
        name: language
        hint: Select the language for this page.
        widget: select
        options:
          - label: English
            value: en
          - label: Deutsch
            value: de
          - label: Français
            value: fr
          - label: Dansk
            value: dk
          - label: Slovenščina
            value: si
          - label: Čeština
            value: cz
      - label: '[Meta] Page URL'
        name: url
        widget: string
        hint: >-
          An optional, localised URL which will be used for this page (e.g.
          https://euromat.info/#/<PAGE_URL>)
        optional: true
      - label: '[Meta] Site Name'
        name: title
        widget: string
        hint: The name for the page that will appear in the browser tab.
      - label: Headline
        name: headline
        widget: string
      - label: Content
        name: content
        widget: string
      - label: Headline for development and design
        name: devDesign
        widget: string
  - name: faq
    label: '[Page] FAQ'
    description: The FAQ page.
    folder: src/app/faq/content
    format: json
    create: true
    slug: '{{fields.language}}'
    fields:
      - label: '[Meta] Language'
        name: language
        hint: Select the language for this page.
        widget: select
        options:
          - label: English
            value: en
          - label: Deutsch
            value: de
          - label: Français
            value: fr
          - label: Dansk
            value: dk
          - label: Slovenščina
            value: si
          - label: Čeština
            value: cz
      - label: '[Meta] Page URL'
        name: url
        widget: string
        hint: >-
          An optional, localised URL which will be used for this page (e.g.
          https://euromat.info/#/<PAGE_URL>)
        optional: true
      - label: '[Meta] Site Name'
        name: title
        widget: string
        hint: The name for the page that will appear in the browser tab.
      - label: Headline
        name: headline
        widget: string
      - label: Questions
        name: questions
        widget: list
        fields:
          - label: Title
            name: title
            widget: string
          - label: Answer
            name: answer
            widget: markdown
  - name: contact
    label: '[Page] Contact'
    description: The general contact page.
    folder: src/app/contact/content
    format: json
    create: true
    slug: '{{fields.language}}'
    fields:
      - label: '[Meta] Language'
        name: language
        hint: Select the language for this page.
        widget: select
        options:
          - label: English
            value: en
          - label: Deutsch
            value: de
          - label: Français
            value: fr
          - label: Dansk
            value: dk
          - label: Slovenščina
            value: si
          - label: Čeština
            value: cz
      - label: '[Meta] Page URL'
        name: url
        widget: string
        hint: >-
          An optional, localised URL which will be used for this page (e.g.
          https://euromat.info/#/<PAGE_URL>)
        optional: true
      - label: '[Meta] Site Name'
        name: title
        widget: string
        hint: The name for the page that will appear in the browser tab.
      - label: Headline
        name: headline
        widget: string
      - label: Content
        name: content
        widget: markdown
  - name: privacy
    label: '[Page] Data Privacy'
    description: The data privacy page.
    folder: src/app/privacy/content
    format: json
    create: true
    slug: '{{fields.language}}'
    fields:
      - label: '[Meta] Language'
        name: language
        hint: Select the language for this page.
        widget: select
        options:
          - label: English
            value: en
          - label: Deutsch
            value: de
          - label: Français
            value: fr
          - label: Dansk
            value: dk
          - label: Slovenščina
            value: si
          - label: Čeština
            value: cz
      - label: '[Meta] Page URL'
        name: url
        widget: string
        hint: >-
          An optional, localised URL which will be used for this page (e.g.
          https://euromat.info/#/<PAGE_URL>)
        optional: true
      - label: '[Meta] Site Name'
        name: title
        widget: string
        hint: The name for the page that will appear in the browser tab.
      - label: Headline
        name: headline
        widget: string
      - label: Topics
        name: topics
        widget: list
        fields:
          - label: Title
            name: title
            widget: string
          - label: Content
            name: content
            widget: markdown
  - name: imprint
    label: '[Page] Imprint'
    description: Subpage for legal notice.
    folder: src/app/imprint/content
    format: json
    create: true
    slug: '{{fields.language}}'
    fields:
      - label: '[Meta] Language'
        name: language
        hint: Select the language for this page.
        widget: select
        options:
          - label: English
            value: en
          - label: Deutsch
            value: de
          - label: Français
            value: fr
          - label: Dansk
            value: dk
          - label: Slovenščina
            value: si
          - label: Čeština
            value: cz
      - label: '[Meta] Page URL'
        name: url
        widget: string
        hint: >-
          An optional, localised URL which will be used for this page (e.g.
          https://euromat.info/#/<PAGE_URL>)
        optional: true
      - label: '[Meta] Site Name'
        name: title
        widget: string
        hint: The name for the page that will appear in the browser tab.
      - label: Headline
        name: headline
        widget: string
      - label: Legal notice for Polis180
        name: polis180
        widget: object
        fields:
          - label: Headline for address
            name: addressLabel
            widget: string
          - label: Address
            name: address
            widget: markdown
          - label: Headline for represented by
            name: representedLabel
            widget: string
          - label: Represented by
            name: represented
            widget: markdown
          - label: Headline for email
            name: emailLabel
            widget: string
          - label: Email address
            name: email
            widget: string
          - label: Headline for phone
            name: phoneLabel
            widget: string
          - label: Phone number
            name: phone
            widget: string
          - label: Headline for register entry
            name: registerLabel
            widget: string
          - label: Register entry
            name: register
            widget: markdown
      - label: Legal notice for Pulse of Europe
        name: poe
        widget: object
        fields:
          - label: Headline for address
            name: addressLabel
            widget: string
          - label: Address
            name: address
            widget: markdown
          - label: Headline for represented by
            name: representedLabel
            widget: string
          - label: Represented by
            name: represented
            widget: markdown
          - label: Headline for email
            name: emailLabel
            widget: string
          - label: Email address
            name: email
            widget: string
          - label: Headline for phone
            name: phoneLabel
            widget: string
          - label: Phone number
            name: phone
            widget: string
          - label: Headline for register entry
            name: registerLabel
            widget: string
          - label: Register entry
            name: register
            widget: markdown
      - label: Responsible for website content
        name: responsible
        widget: object
        hint: A short description who is responsible for the website content
        fields:
          - label: Headline
            name: headline
            widget: string
          - label: Content
            name: text
            widget: markdown
          - label: '[Label] Contact'
            name: mail
            widget: string
      - label: Content
        name: content
        widget: list
        fields:
          - label: Title
            name: title
            widget: string
          - label: Content
            name: content
            widget: markdown
  - name: fourzerofour
    label: '[Page] 404'
    description: Error page when the user (accidentally) reaches a nonexistent page.
    folder: src/app/404/content
    format: json
    create: true
    slug: '{{fields.language}}'
    fields:
      - label: '[Meta] Language'
        name: language
        hint: Select the language for this page.
        widget: select
        options:
          - label: English
            value: en
          - label: Deutsch
            value: de
          - label: Français
            value: fr
          - label: Dansk
            value: dk
          - label: Slovenščina
            value: si
          - label: Čeština
            value: cz
      - label: '[Meta] Site Name'
        name: title
        widget: string
        hint: The name for the page that will appear in the browser tab.
      - label: Headline
        name: headline
        widget: string
      - label: Content
        name: content
        widget: markdown
      - label: '[Label] Button'
        name: button
        widget: string
  - name: settings
    label: Settings
    description: 'Overall settings for all pages (e.g. menu labels, social media, ...)'
    folder: src/data/meta
    format: json
    create: true
    slug: '{{fields.language}}'
    fields:
      - label: '[Meta] Language'
        name: language
        hint: Select the language for this page.
        widget: select
        options:
          - label: English
            value: en
          - label: Deutsch
            value: de
          - label: Français
            value: fr
          - label: Dansk
            value: dk
          - label: Slovenščina
            value: si
          - label: Čeština
            value: cz
      - label: '[Meta] Site Name'
        name: title
        widget: string
        hint: The name for the page that will appear in the browser tab.
      - label: Top Navigation
        name: topMenu
        widget: object
        hint: The main navigation for the website.
        fields:
          - label: '[Label] Introduction'
            name: index
            widget: string
          - label: '[Label] FAQ'
            name: faq
            widget: string
          - label: '[Label] About us'
            name: about
            widget: string
          - label: '[Label] Contact'
            name: contact
            widget: string
      - label: Footer Navigation
        name: footerMenu
        widget: object
        hint: The footer navigation for the website.
        fields:
          - label: '[Label] Imprint'
            name: imprint
            widget: string
          - label: '[Label] Data privacy'
            name: privacy
            widget: string
      - label: Social Media Share Text
        name: socialMedia
        widget: object
        hint: These are the default texts which get used to share.
        fields:
          - label: Twitter
            name: twitter
            widget: string
          - label: Facebook
            name: facebook
            widget: string
          - label: Clipboard
            name: clipboard
            widget: string
      - label: Cookie Consent Layer
        name: cookieConsent
        widget: object
        hint: The text which is shown in the cookie consent layer.
        fields:
          - label: Text
            name: text
            widget: text
          - label: '[Button] Decline'
            name: btnDecline
            widget: string
          - label: '[Button] Accept'
            name: btnAccept
            widget: string
